html, body {
	background-color: grey;
	height: 100%;
}


.centerBlock{
  display: flex;

  height: 100%;
}



img {
	height: 100%;
	display: block;
	margin: 0 auto;
    /*
    border-style: solid;
    border-width: 10px 0 10px 0;
    //top right bot left 
    border-color: white;
    */
	
}

#dragme1 {
    position: absolute;
}

.smallImage {
	border: none;
}

.imageClass {

	height: 100%;
	border: none;

}

button {
	width: 60px;
	height: 50px;

	overflow: hidden;
	margin: none;
	border: none;
}

.bottomNav {
	border: none;
	margin: none;
}

.uhh {
	margin: none;
	border: none;	
	height: 50px;
	width: 50px;
}
input {

	height: 50px;
	border: none;
	margin: none;

}