html, body {
	background-color: grey;
	height: 100%;
	width: 100%;
}


.centerBlock{
	z-index: 2;
  display: flex;

  height: 100%;
}



img {
	height: 100%;
	display: block;
	margin: 0 auto;
    /*
    border-style: solid;
    border-width: 10px 0 10px 0;
    //top right bot left 
    border-color: white;
    */
	
}

#dragme1 {
    position: absolute;
}

.smallImage {
	border: none;
}

.imageClass {

	height: 100%;
	border: none;

}

button {
	width: 60px;
	height: 50px;

	overflow: hidden;
	margin: none;
	border: none;
}

.bottomNav {
	z-index: 1;
	border: none;
	margin: none;
	overflow: visible;
}

.uhh {
	margin: none;
	border: none;	
	height: 50px;
	width: 50px;
}
input {

	height: 100px;
	border: none;
	margin: none;

}


.emojiCat{
	overflow-x:scroll;
    overflow-y:hidden;
    height:100%;

}

.bgroup {
	white-space:nowrap;
}

.yo {
	height: 100%;
	border: none;
}

.goo {
	z-index: 1;
}

.imgModal {
	margin: auto;
	min-width: 100px;
	display: none;

}

.modal {
	
	display: none;
}

canvas {
	display: none;
}

.jj {
	
	width: 100%;
	height: 55px;

}

.pp {

	margin: none;
	border: none;
	height: 55px;
}



.inputfile {
	border: none;
	margin: none;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}



.inputfile + label {
	text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    height: 55px;
    width: 100%;
    color: white;
    background-color: black;
    display: inline-block;
}




